            body{
                background-color: #8e7cc3ff;
            }
            h1 {
                text-align: center;
                color: #2a1f53;   
                font-size:36px;
            }  

            p {
                text-align: center;
                color:  #2a1f53;
                font-size:18px;
                margin-bottom: 1.2rem;
                line-height: 1.6;
            }
            h2 {
                text-align: center;
                color:  #2a1f53;
                font-size:24px;
            }